In [1]:
#dictionary
#-Indexing
#-Ordered data type
#-Multiple and duplicate data
#-Mutable

In [2]:
#d = {<key>:<value>, <key>:<value>,...}

In [7]:
d = {'a':'apple', 'b':'Ball', 'c':'Cat'} #a bhanne key ma k value raicha? apple raicha. amd so on. 
print(d) #ordered. same order ma appear huncha in results.
print(type(d))

{'a': 'apple', 'b': 'Ball', 'c': 'Cat'}
<class 'dict'>

In [5]:
print(d['a'])

apple

In [6]:
print(d['b'])

Ball

In [9]:
d = {'a':'apple', 'b':'Ball', 'c':'Cat', 'c':'cat'}
d #cant have same key. latest key & value will replace former one.

{'a': 'apple', 'b': 'Ball', 'c': 'cat'}

In [12]:
a = {'a':'apple', 'b':'Ball', 'c':'Cat'}
b = {1:1,2:4,3:9}
c = a + b
print (c) #this shows error coz we cant concat values in curly brackets. cant use any mathematical operator in curly bracket

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [13]:
a = {'a':'apple', 'b':'Ball', 'c':'Cat'}
b = {1:1,2:4,3:9}
a.update(b)
print(a)

{'a': 'apple', 'b': 'Ball', 'c': 'Cat', 1: 1, 2: 4, 3: 9}

In [16]:
a = {'a':'apple', 'b':'Ball', 'c':'Cat'}
for i in a:
    print(i, end = " ")

a b c

In [18]:
a = {'a':'apple', 'b':'Ball', 'c':'Cat'}
for i in a.values():
    print(i, end = " ")

apple Ball Cat

In [19]:
a = {'a':'apple', 'b':'Ball', 'c':'Cat'}
for i in a.items():
    print(i, end = " ")

('a', 'apple') ('b', 'Ball') ('c', 'Cat')

In [24]:
#how to create a dictonary
#d = dict()
d={}
d['a'] = "Apple"
d['b'] = "Ball"
d['c'] = "Cat"
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [25]:
#update values
d = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
d['a'] = "Ant" #this replaces apple.
d

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [27]:
#how to delete values
#del pop()
d = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
del d['a']
print (d)

{'b': 'Ball', 'c': 'Cat'}

In [28]:
d = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
b = d.pop('a')
print(b)
print(d)

Apple
{'b': 'Ball', 'c': 'Cat'}

In [29]:

info = {'Ram':9851088661, 'Shyam':9841891181, 'Hari':9742536480}
info

{'Ram': 9851088661, 'Shyam': 9841891181, 'Hari': 9742536480}

In [30]:
#list inside dictionary

info = {'Ram':[9851088661,9876663782], 'Shyam':[9841891181,9873829848], 'Hari':[9742536480,98382883874]}
info

{'Ram': [9851088661, 9876663782],
 'Shyam': [9841891181, 9873829848],
 'Hari': [9742536480, 98382883874]}

In [31]:
print(info['Ram'])
print(info['Ram'][0])

[9851088661, 9876663782]
9851088661

In [32]:
info['Ram'][0] = 9876543210
info

{'Ram': [9876543210, 9876663782],
 'Shyam': [9841891181, 9873829848],
 'Hari': [9742536480, 98382883874]}

In [1]:
d = {}
n = int(input ("Enter n = "))
for i in range(n):
    name = input ("Enter name = ")
    ntc = input ("Enter ntc no = ")
    ncell = input ("Enter ncell no = ")
    d[name] = [ntc, ncell]
print (d)

Enter n = 1
Enter name = Ram
Enter ntc no = 987665536728
Enter ncell no = 98774767288929
{'Ram': ['987665536728', '98774767288929']}

In [3]:
d = {'name' : ["Ram", "Shyam"],
    'ntc': [98877646672, 98773647828],
    'ncell': [98747882993, 98763626721]}
print(d['name'][0],d['ntc'][0],d['ncell'][0])

Ram 98877646672 98747882993

In [3]:
#WAP where you are able to print in above style

d = {'name':[],
    'ntc':[],
     'ncell':[]}

n = int(input ("Enter n = "))
for i in range(n):
    name = input ("Enter name = ")
    ntc = input ("Enter ntc no = ")
    ncell = input ("Enter ncell no = ")
    d['name'].append(name)
    d['ntc'].append(ntc)
    d['ncell'].append(ncell)

print (d)

Enter n = 2
Enter name = ram
Enter ntc no = 8877788998889
Enter ncell no = 99877677788
Enter name = shyam
Enter ntc no = 877637889399
Enter ncell no = 9883778382992
{'name': ['ram', 'shyam'], 'ntc': ['8877788998889', '877637889399'], 'ncell': ['99877677788', '9883778382992']}