In [2]:
#dictionary inside list
d = [{'name': 'Ram' , 'age': 34, 'add': "Kathmandu"},
    {'name': 'Shyam' , 'age': 66, 'add': "Bhaktapur"},
    {'name': 'Hari' , 'age': 33, 'add': "Lalitpur"},
    {'name': 'Sita' , 'age': 24, 'add': "Kathmandu"}]
      
print(d)

[{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}, {'name': 'Shyam', 'age': 66, 'add': 'Bhaktapur'}, {'name': 'Hari', 'age': 33, 'add': 'Lalitpur'}, {'name': 'Sita', 'age': 24, 'add': 'Kathmandu'}]

In [3]:
print(d[0])
print (d[0]['name'])

{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}
Ram

In [4]:
l= [] #append. list ma values add garney
n = int(input ("Enter n = "))
for i in range(n):
    name = input ("Enter name = ")
    ntc = input ("Enter ntc no = ")
    ncell = input ("Enter ncell no = ")
    d = {'name' : name, 'ntc': ntc, 'ncell': ncell}
    l.append(d)
print(l)

Enter n = 2
Enter name = ram
Enter ntc no = 98877478383
Enter ncell no = 988378299398
Enter name = Shyam
Enter ntc no = 988777382893
Enter ncell no = 099838882993
[{'name': 'ram', 'ntc': '98877478383', 'ncell': '988378299398'}, {'name': 'Shyam', 'ntc': '988777382893', 'ncell': '099838882993'}]

In [6]:
l[1] #l ko 1 index ko value print gareko

{'name': 'Shyam', 'ntc': '988777382893', 'ncell': '099838882993'}

In [7]:
del l[1]
l

[{'name': 'ram', 'ntc': '98877478383', 'ncell': '988378299398'}]

In [8]:
#dict inside dict

info = {1:{'name':'Ram', 'age':34,"add":"Kathmandu"},
       2:{'name':'Shyam', 'age':24,"add":"Bhaktapur"},
       3:{'name':'Hari', 'age':14,"add":"Lalitpur"}}
info

{1: {'name': 'Ram', 'age': 34, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 24, 'add': 'Bhaktapur'},
 3: {'name': 'Hari', 'age': 14, 'add': 'Lalitpur'}}

In [10]:
print (info[1])
print (info[1]['name'])

{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}
Ram

In [12]:
info = {}
n = int(input ("Enter n = "))
for i in range(1, n+1):
    name = input ("Enter name = ")
    age = input ("Enter age  = ")
    add = input ("Enter add  = ")
    d = {'name':name, 'age': age, 'add': add}
    info[i]=d #info bhanne dict ma i key rakha and print rest of the d 
print(info)

Enter n = 2
Enter name = ram
Enter age  = 34
Enter add  = kathmandu
Enter name = shyam
Enter age  = 24
Enter add  = bhaktappur
{1: {'name': 'ram', 'age': '34', 'add': 'kathmandu'}, 2: {'name': 'shyam', 'age': '24', 'add': 'bhaktappur'}}

In [13]:
#yo output ko beginning ma 1 and 2 aaos bhanera range ma 1,n+1 gareko. otherwise range normally starts from 0.

In [14]:
info

{1: {'name': 'ram', 'age': '34', 'add': 'kathmandu'},
 2: {'name': 'shyam', 'age': '24', 'add': 'bhaktappur'}}

In [16]:
info[3] = {'name':'Akash', 'age': '18', 'add': 'kathmandu'}

In [17]:
info

{1: {'name': 'ram', 'age': '34', 'add': 'kathmandu'},
 2: {'name': 'shyam', 'age': '24', 'add': 'bhaktappur'},
 3: {'name': 'Akash', 'age': '18', 'add': 'kathmandu'}}

In [18]:
info[3]['add'] = {'permanent': 'Dhading', 'temporary': 'Kathmandu'}
info

{1: {'name': 'ram', 'age': '34', 'add': 'kathmandu'},
 2: {'name': 'shyam', 'age': '24', 'add': 'bhaktappur'},
 3: {'name': 'Akash',
  'age': '18',
  'add': {'permanent': 'Dhading', 'temporary': 'Kathmandu'}}}