In [1]:
#tuple

#-supports indexing
#-Ordered
#-Multiple and duplicate data huncha
#-imutable

In [2]:
t = tuple()

In [3]:
t = ("Apple", "Ball", "Cat", "Dog")
print(type(t))

<class 'tuple'>

In [4]:
t = ("Apple", "Ball", "Cat", "Dog")
print(t[3])

Dog

In [5]:
t = ("Apple", "Ball", "Cat", "Dog")
print(t[0])

Apple

In [6]:
#we cant do append(), insert(), extend()
#cant update
#cant del remove() pop()
#no sort() 
#thats why immutable data type. cant change OG values.

In [7]:
a=(1,2,3,4)
b=(3,4,5,6)
c=a+b
print(c)

(1, 2, 3, 4, 3, 4, 5, 6)

In [8]:
a = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a = a+ (x,) #concatenation ko lagi +
    
print(a)

Enter n = 2
Enter x = 4
Enter x = 3
(4, 3)

In [9]:
print(max(a))
print(min(a))
print(sum(a))

4
3
7

In [11]:
t = ("Apple", "Ball", "Cat", "Dog")
t = list(t)
del t[0]
t = tuple (t)
t

('Ball', 'Cat', 'Dog')

In [12]:
a = "Apple"
print (tuple(a))
print (list(a))

('A', 'p', 'p', 'l', 'e')
['A', 'p', 'p', 'l', 'e']

In [13]:
#set

In [14]:
#-doesnt support indexing
#-unordered
#multiple but no duplicate data
#mutable

In [15]:
s = set()

In [16]:
s = {"Apple","Ball","Cat","Dog"}
print(type(s))
print(s)

<class 'set'>
{'Dog', 'Apple', 'Cat', 'Ball'}

In [17]:
#thats why its unordered. data is jumbled in output.

In [18]:
s = {"Apple","Ball","Cat","Dog","Apple"}
print(s)

{'Dog', 'Apple', 'Cat', 'Ball'}

In [19]:
#it doesnt output duplicate value. and gives unordered items inside set.

In [21]:
s = {}
type (s) #now this is no longer set. its dict

dict

In [22]:
s = set()
s.add("Apple")
s.add("Ball")
s.add("Cat")
print(s)

{'Apple', 'Cat', 'Ball'}

In [23]:
a = set()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a.add(x)

print(a)

Enter n = 2
Enter x = 3
Enter x = 4
{3, 4}

In [24]:
a = {1,2,3,4}
b = {5,6,7,8}
a.update(b) #didnt do a.add(b) because add only updates one value at a time. 
print(a)

{1, 2, 3, 4, 5, 6, 7, 8}

In [25]:
s = {1, 2, 3, 4, 5, 6, 7, 8}
s.remove(1)
print(s)

{2, 3, 4, 5, 6, 7, 8}

In [26]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
i = a.intersection(b)
print(i)

{4, 5}

In [30]:
U = {0,1,2,3,4,5,6,7,8,9}
a = {1,2,3,4,5}
b = {4,5,6,7,8}
i = a.union(b)
print(i)

{1, 2, 3, 4, 5, 6, 7, 8}

In [31]:
print (a - b) #a ma bhako, b ma nabhako values

{1, 2, 3}

In [32]:
print (b - a)

{8, 6, 7}

In [33]:
print (U - i)

{0, 9}

In [35]:
#inside set
#no list
#no dict
#no set

In [38]:
a = {"Apple","Ball"}
b = {(1,2),(3,4),(4,5),(6,7)}
c = {{1,2},{3,4}}
print(type(c))

TypeError: unhashable type: 'set'