In [1]:
# for loop in string

In [2]:
a = "Hello World"
for i in a:
    print (i)
    
    #i ko first value is H. Then in next loop, i ko value is e. then next value is l. and so on

H
e
l
l
o

W
o
r
l
d

In [3]:
a = "Hello World"
for i in a:
    print (i, end = "")

Hello World

In [4]:
a = "Hello World" #the space between hello and world is also a character. thats y, in results, space ma ni hello world lekhera aayo.
for i in a:
    print (i, "Hello World")

H Hello World
e Hello World
l Hello World
l Hello World
o Hello World
  Hello World
W Hello World
o Hello World
r Hello World
l Hello World
d Hello World

In [5]:
a= "Hello World. I am python" #lets remove full stop
for i in a:
    if i != ".":
        print (i, end = "")

Hello World I am python

In [6]:
a= "Hello World! I am python." #lets remove fullstop and exclamation mark. 
for i in a:
    if i != "." and i != "!":
        print (i, end = "")

Hello World I am python

In [10]:
for i in range (5):
    print (i*"o")

o
oo
ooo
oooo

In [12]:
n = 10
for i in range (n):
    print ((n-i)* " ", (2*i-1)*"o") #i ko value starts from 0. n = 10. (2*0-1)= -1. -1*o = empty. thats why first line is empty.

          o
         ooo
        ooooo
       ooooooo
      ooooooooo
     ooooooooooo
    ooooooooooooo
   ooooooooooooooo
  ooooooooooooooooo

In [13]:
#control statement
#break
#continue
#pass

In [1]:
for i in range (10):
    if i==5:
        break  #break terminates the loop at 5
    print(i)

0
1
2
3
4

In [2]:
for i in range (10):
    if i==5:
        continue  #continues loop when it reaches 5. 5 gets skipped.  
    print(i, end = " ")

0 1 2 3 4 6 7 8 9

In [3]:
a = "Hello World. I am python."
for i in a:
    if i ==".":
        break
    print (i, end = "")

Hello World

In [4]:
a = "Hello World. I am python."
for i in a:
    if i ==".":
        continue
    print (i, end = "")

Hello World I am python

In [4]:
n = int (input("Enter n = "))
for i in range (1,n*11):
    if i%n !=0: #i lai n le divide gare remainder 0 naaye continue .remainder naayeko value print gara
        continue
    print (i)

Enter n = 4
4
8
12
16
20
24
28
32
36
40