In [ ]:
#python data collection
#list
#tuple
#dict
#set

In [2]:
#list le indexing follow garcha
  #  -indexing
  #  -multiple and duplicate data
  #  -ordered
  #  -mutable

In [4]:
#l = list ()
l = ["Apple","Ball","Cat","Dog","Fish"]
a=[1,2,3,4,5,6,7,8,9,0]
print(type(l))
print(type(a))

<class 'list'>
<class 'list'>

In [5]:
l = ["Apple","Ball","Cat","Dog","Fish","Apple"]
print(l[0]) #list bhayera l lekheko. list define gareko. 0 is indexed with apple. so this will print apple.
print(l[0:4])
print(l[0:5:2])

Apple
['Apple', 'Ball', 'Cat', 'Dog']
['Apple', 'Cat', 'Fish']

In [6]:
a=[1,2,3,4]
b=[5,6,7,8,9]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
a= [1,2,3,4]
print(a*2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [8]:
l = ["Apple","Ball","Cat","Dog","Fish","Apple"]
for i in l:
    print(i)

Apple
Ball
Cat
Dog
Fish
Apple

In [10]:
l = ["Apple","Ball","Cat","Dog","Fish","Apple"]
search = input("Enter search = ")
if search in l:
    print ("yes")
    print(l.count(search))
else:
    print("No")

Enter search = apple
No

In [11]:
#append() extend() insert() functions

In [12]:
a = [] #mutable data type because use of append changes original value, original value = empty a
a.append("Apple")
a.append("Ball")
a.append("Cat")
print (a)

['Apple', 'Ball', 'Cat']

In [18]:
l=[]
n=int(input("Enter n = "))
for i in range (n):
    x=int(input("Enter x = "))
    l.append(x)
    
print(l)

Enter n = 3
Enter x = 45
Enter x = 46
Enter x = 57
[45, 46, 57]

In [20]:
l=[13,23,123,234,12]
print("Maximum value = ", max (l))
print("Minimum value = ", min(l))
print("Sum of list = ", sum(l))
l.sort()
print(l)

Maximum value =  234
Minimum value =  12
Sum of list =  405
[12, 13, 23, 123, 234]

In [21]:
a=["Ball", "Zebra", "Apple", "Cat", "ant"] #small letter last ma dekhaucha
a.sort()
print(a)

['Apple', 'Ball', 'Cat', 'Zebra', 'ant']

In [22]:
a=["Ball", "Zebra", "Apple", "Cat", "ant"]
a.insert(1,"zebra")
a

['Ball', 'zebra', 'Zebra', 'Apple', 'Cat', 'ant']

In [23]:
a=[1,2,3,4,5]
b=[6,7,8,9,0]
a.extend(b) #b ma raheko values lai a ma lagera rakha
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [24]:
a=["Ball", "Zebra", "Apple", "Cat", "ant"]
del a[0] #0 index ma raheko value delete garne 
print (a)

['Zebra', 'Apple', 'Cat', 'ant']

In [25]:
a=["Ball", "Zebra", "Apple", "Cat", "ant"]
del a[0:3] #0 dekhi 3 samma ko index ma raheko value delete garne 
print (a)

['Cat', 'ant']

In [26]:
#remove
a=["Ball","Zebra","Apple","Ball","Cat","ant","Ball"]
a.remove("Ball")
print(a)

['Zebra', 'Apple', 'Ball', 'Cat', 'ant', 'Ball']

In [27]:
#wap that will delete all Ball from above line
a=["Ball","Zebra","Apple","Ball","Cat","ant","Ball"]
del a[0:3] #no no no cant use indexing to delete. because after removing 0, ball ko indexing changes. 3, ko value ball, now 2 huncha

In [29]:
a=["Ball","Zebra","Apple","Ball","Cat","ant","Ball"]
c=a.count("Ball") #kati ota ball cha count gareko
for i in range(c):
    a.remove("Ball")
print(a)

['Zebra', 'Apple', 'Cat', 'ant']

In [30]:
#Ball kun kun index ma cha program lekha
a=["Ball","Zebra","Apple","Ball","Cat","ant","Ball"]
c=len(a)
for i in range (c): #7 choti loop chalako
    if "Ball" == a[i]: #when i = 0, its true, as in ball is in 0. so print garcha. when i = 3, this statement is true. so print garcha. same for 6.
        print(i)

0
3
6