In [1]:
#list inside list

In [7]:
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
print(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [9]:
a = [['Ram', 45, 'Kathmandu'],
    ['Shyam', 67, 'Bhaktapur'],
    ['hari', 65, 'Lalitpur']]
print (a)

[['Ram', 45, 'Kathmandu'], ['Shyam', 67, 'Bhaktapur'], ['hari', 65, 'Lalitpur']]

In [10]:
print (a[0])

['Ram', 45, 'Kathmandu']

In [11]:
print (a[0][2])

Kathmandu

In [12]:
l=[]
n=int(input("Enter n = "))
for i in range(n):
    name = input ("Enter name = ")
    age = int (input("Enter age = "))
    add = input("Enter add = ")
    x = [name,age,add]
    l.append(x)
print(l)

Enter n = 3
Enter name = shreeya
Enter age = 30
Enter add = chandol
Enter name = sidd
Enter age = 28
Enter add = ottawa
Enter name = seema
Enter age = 53
Enter add = change;
[['shreeya', 30, 'chandol '], ['sidd', 28, 'ottawa'], ['seema', 53, 'change;']]

In [17]:
l=[['Ram',34, 'Kathmandu'], ['Bharat', 34, 'Kathmandu']]
l.append(['Hari', 23, 'Lalitpur'])
l

[['Ram', 34, 'Kathmandu'],
 ['Bharat', 34, 'Kathmandu'],
 ['Hari', 23, 'Lalitpur']]

In [18]:
del l[2]

In [19]:
print (l)

[['Ram', 34, 'Kathmandu'], ['Bharat', 34, 'Kathmandu']]

In [22]:
#search
l = [['Ram', 34, 'Kathmandu'],
     ['Bharat', 34, 'Kathmandu'],
     ['Hari', 23, 'Lalitpur']]

name = input ("Enter name = ")
for i in l: #first loop will run in ram 34 kathmandu. second loop will run in bharat 34 kathmandu.
    if name in i: #if Ram in i is true, print i bhaneko. if Hari in i is true, print i.  
        print (i)

Enter name = Hari
['Hari', 23, 'Lalitpur']

In [23]:
#how to change a value inside a list. Ram lai kasari Rama banaune?

l = ['Ram', 34, 'Kathmandu']
l[0] = "Rama"
l

['Rama', 34, 'Kathmandu']

In [27]:
l = [['Ram', 34, 'Kathmandu'],     #Ram ko indexing is [0][0]. 34 is [0][1], Kathmandu is 0,2. Bharat ko indexing is 1,0
     ['Bharat', 34, 'Kathmandu'],
     ['Hari', 23, 'Lalitpur']]

l[0][0] = "Rama"
l

[['Rama', 34, 'Kathmandu'],
 ['Bharat', 34, 'Kathmandu'],
 ['Hari', 23, 'Lalitpur']]

In [28]:
#WAP to create a matrix by taking input from user
#row -> ?
#colums -> ?
#x -> ?

In [ ]:
x = []
r = int(input("Enter number of rows = "))
c = int(input("Enter number of columns = "))
for i in range (r):
    y = []
    for j in range (c):
        z = int(input("Enter z = "))
        y.append(z)
    x.append(y)
print(x)