In [1]:
#file
#file = open ("<file_name>","<mode>")
#file.close

#with open ("<file_name>","<mode>") as file:
#    <operation>

#modes
#create -> 'x'
#read -> 'r'
#write -> 'w'
#append -> 'a'

In [6]:
try:
    file = open('data.txt','x') #x bhaneko create mode ho.
    file.close() #gotta close the file once mode ma kaam garne is over.
    
except:
    print ("The file is already there.")

The file is already there.

In [ ]:
pwd

In [28]:
file = open('data.txt','r') #r bhaneko read mode ho.
data = file.read()
print(data)
file.close() #gotta close the file once mode ma kaam garne is over.

1. Hello World
2. Hello World
3. Hello World
4. Hello World
5. Hello World

In [29]:
print(type(data))

<class 'str'>

In [30]:
d = data.split('\n')
d

['1. Hello World',
 '2. Hello World',
 '3. Hello World',
 '4. Hello World',
 '5. Hello World']

In [32]:
print(d[0])

1. Hello World

In [10]:
#write mode
file = open('data1.txt', 'w') #this also creates data. it creates data1.txt first and then writes it.
file.write('Hello World')
file.close()

In [13]:
bill = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = float(input("Enter price = "))
    qty = float(input("Enter quantity = "))
    total = price*qty
    bill = bill + f"{name} \t{price} \t{qty} \t{total} \n"

file = open('bill.txt', 'w')
file.write('Name\tPrice\tQuantity\tTotal\n')
file.write(bill)
file.close()

Enter n = 2
Enter product name = Apple
Enter price = 10
Enter quantity = 15
Enter product name = Ball
Enter price = 5
Enter quantity = 10

In [14]:
bill = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = float(input("Enter price = "))
    qty = float(input("Enter quantity = "))
    total = price*qty
    bill = bill + f"{name},{price},{qty},{total} \n"

file = open('bill.csv', 'w')
file.write('Name,Price,Quantity,Total\n')
file.write(bill)
file.close()

Enter n = 2
Enter product name = Apple
Enter price = 10
Enter quantity = 100
Enter product name = Ball
Enter price = 5
Enter quantity = 30

In [15]:
pwd

'/Users/shreeyakhanal/PYTHON 3 PM'

In [22]:
#using append mode
file = open('bill1.csv', 'a')
file.write('Name,Price,Quantity,Total\n')

26

In [24]:
bill = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = float(input("Enter price = "))
    qty = float(input("Enter quantity = "))
    total = price*qty
    bill = bill + f"{name},{price},{qty},{total} \n"


file.write(bill)

Enter n = 2
Enter product name = Apple
Enter price = 10
Enter quantity = 100
Enter product name = Banana
Enter price = 15
Enter quantity = 20

50

In [26]:
file.close()

In [27]:
import pandas as pd
df = pd.read_csv('bill1.csv')
df

      Name  Price  Quantity    Total
0    Apple   10.0     100.0  1000.0
1     Ball   20.0     200.0  4000.0
2     Name  Price  Quantity    Total
3    Apple   30.0      45.0  1350.0
4   Banana   10.0      20.0   200.0
5    Apple   10.0     100.0  1000.0
6  Banana    15.0      20.0   300.0