In [1]:
#for loop
#while loop

In [3]:
#for loop
#range (5)             #5 times loop garna khojeko 0,1,2,3,4
#range (1,5)           #1,2,3,4
#range (1,10,2)        #increament by two. 1,3,5,7,9

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
for i in range(5):
    print(i, "Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [6]:
for i in range(1,5):
    print(i, "Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [5]:
for i in range(1,10,2): #increament by 2
    print(i, "Hello World")

1 Hello World
3 Hello World
5 Hello World
7 Hello World
9 Hello World

In [9]:
for i in range(5,-1,-1):
    print(i, "Hello World")

5 Hello World
4 Hello World
3 Hello World
2 Hello World
1 Hello World
0 Hello World

In [10]:
for i in range(5,-2,-1):
    print(i, "Hello World")

5 Hello World
4 Hello World
3 Hello World
2 Hello World
1 Hello World
0 Hello World
-1 Hello World

In [13]:
#Write a program to create a multiplication table

n = int(input("Enter n = "))
for i in range (1,11):
    print (n, "*",i, "=", n*i)

Enter n = 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [1]:
for i in range (5):
    x = int(input("Enter x = "))
    print ("You entered ", x)

Enter x = 4
You entered  4
Enter x = 3
You entered  3
Enter x = 5
You entered  5
Enter x = 6
You entered  6
Enter x = 5
You entered  5

In [2]:
s=0
n= int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s+x
    print (s)

Enter n = 5
Enter x = 1000
1000
Enter x = 3000
4000
Enter x = 4000
8000
Enter x = 6000
14000
Enter x = 8000
22000

In [4]:
s=0
n= int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s+x
print ("Sum = ", s)

Enter n = 5
Enter x = 56
Enter x = 56
Enter x = 54
Enter x = 34
Enter x = 34
Sum =  234

In [5]:
#s = str()
s = ""
n= int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s = s+x
print (s)

Enter n = 2
Enter x = Apple
Enter x = Ball
Apple Ball

In [6]:
s = ""
n= int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s = s+x + "\n"
print (s)

Enter n = 2
Enter x = Ram
Enter x = Sita
Ram
Sita

In [1]:
s = ""
n= int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone no. ")
    s = s + name +" "+ phone + "\n"
print (s)

Enter n = 2
Enter name = ram
Enter phone no. 67890023
Enter name = sita
Enter phone no. 638729022
ram 67890023
sita 638729022