In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Obtaining dependency information for mysql-connector-python from https://files.pythonhosted.org/packages/53/ed/26a4b8cacb8852c6fd97d2d58a7f2591c41989807ea82bd8d9725a4e6937/mysql_connector_python-8.3.0-py2.py3-none-any.whl.metadata
  Downloading mysql_connector_python-8.3.0-py2.py3-none-any.whl.metadata (1.9 kB)
Downloading mysql_connector_python-8.3.0-py2.py3-none-any.whl (557 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 557.9/557.9 kB 257.1 kB/s eta 0:00:0000:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0

In [2]:
import mysql.connector 		#importing database

database = mysql.connector.connect(
  host = "localhost",
  user = 'root',
  password = '',
  database = 'python', #python bhanne database sanga connect garcha
  port = '3308'
)
db = database.cursor()

In [3]:
db.execute("SELECT * FROM student")
result =db.fetchall()

for x in result:
  print(x)

(1, 'Rama', 89, 98, 85, 67, 89, 420, 82.5, 'A')
(3, 'Nabin', 82, 84, 85, 98, 89, 430, 88.5, 'A')
(4, 'Shiva', 49, 57, 25, 98, 89, 400, 70.0, 'A')
(8, 'Ram', 78, 79, 93, 67, 78, 415, 83.5, 'A')
(10, 'Sameer', 89, 67, 80, 98, 89, 412, 82.5, 'A')
(11, 'Rama', 89, 45, 65, 87, 78, 364, 72.8, 'B')
(12, 'Ram', 87, 90, 65, 78, 87, 407, 81.4, 'A')
(13, 'Gauri', 98, 78, 90, 87, 78, 431, 86.2, 'A')
(40, 'Hari', 89, 89, 89, 78, 87, 412, 83.0, 'A')

In [4]:
db.execute("SELECT sn,name,total,grade FROM student")
result =db.fetchall()

for x in result:
  print(x)

(1, 'Rama', 420, 'A')
(3, 'Nabin', 430, 'A')
(4, 'Shiva', 400, 'A')
(8, 'Ram', 415, 'A')
(10, 'Sameer', 412, 'A')
(11, 'Rama', 364, 'B')
(12, 'Ram', 407, 'A')
(13, 'Gauri', 431, 'A')
(40, 'Hari', 412, 'A')

In [5]:
db.execute("SELECT * FROM student where grade = 'A' ")
result =db.fetchall()

for x in result:
  print(x)

(1, 'Rama', 89, 98, 85, 67, 89, 420, 82.5, 'A')
(3, 'Nabin', 82, 84, 85, 98, 89, 430, 88.5, 'A')
(4, 'Shiva', 49, 57, 25, 98, 89, 400, 70.0, 'A')
(8, 'Ram', 78, 79, 93, 67, 78, 415, 83.5, 'A')
(10, 'Sameer', 89, 67, 80, 98, 89, 412, 82.5, 'A')
(12, 'Ram', 87, 90, 65, 78, 87, 407, 81.4, 'A')
(13, 'Gauri', 98, 78, 90, 87, 78, 431, 86.2, 'A')
(40, 'Hari', 89, 89, 89, 78, 87, 412, 83.0, 'A')

In [6]:
#insert
sql = '''INSERT INTO `student` (`sn`, `name`, `physics`, `chemistry`, `math`, `english`, `nepali`, `total`, `per`, `grade`) 
VALUES ('16', 'Sabin', '78', '86', '98', '66', '68', '410', '84', 'A');'''
db.execute(sql)
database.commit()

In [ ]:
sn = int(input("Enter sn = "))
name = input ("Enter name = ")
physics = int(input("Enter physics marks = "))
chemistry = int(input("Enter chemistry marks = "))
math = int(input("Enter math marks = "))
english = int(input("Enter english marks = "))
nepali = int(input("Enter nepali marks = "))
total = physics+chemistry+math+english+nepali
per = 
grade = if per =>90, print (A)

sql = '''INSERT INTO `student` (`sn`, `name`, `physics`, `chemistry`, `math`, `english`, `nepali`, `total`, `per`, `grade`)

In [4]:
name = input ("Enter name = ")
physics = int(input("Enter physics marks"))
chemistry = int(input("Enter chemistry marks"))
math = int(input("Enter math marks"))
english = int(input("Enter english marks"))
nepali = int(input("Enter nepali marks"))


total = physics + chemistry + math + english + nepali

per = total/5

if per >= 80:
    grade = "A"
elif per >=60:
    grade = "B"
elif per >=45:
    grade = "C"
else:
    grade = "F"
    
#insert
sql = f'''INSERT INTO student (name, physics, chemistry, math, english, nepali, 
total, per, grade) 
VALUES ('{name}', {physics}, {chemistry}, {math}, {english}, {nepali}, {total}, {per}, '{grade}')'''
db.execute(sql)
database.commit()

Enter name = shriya
Enter physics marks90
Enter chemistry marks99
Enter math marks98
Enter english marks97
Enter nepali marks90

In [10]:
#update
sql = "UPDATE student SET chemistry = '99',physics=90 WHERE student.sn = 1"
db.execute(sql)
database.commit()

In [8]:
#update
subject= input("Enter subject = ")
marks = int(input("Enter marks = "))
sn = int(input("Enter sn = "))

sql = f"UPDATE student SET {subject} = {marks} WHERE student.sn = {sn}" #user sanga data mageko bela matra f rakhne
db.execute(sql)
database.commit()

Enter subject = math
Enter marks = 99
Enter sn = 3

In [9]:
print(sql)

UPDATE student SET math = 99 WHERE student.sn = 3

In [11]:
#delete
sql = "DELETE FROM student where sn = 1"
db.execute(sql)
database.commit()

In [12]:
#delete
sn = int(input("Enter sn = "))
sql = f"DELETE FROM student where sn = {sn}"
db.execute(sql)
database.commit()

Enter sn = 3